<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body ng-app="app">
    <h1>Holla baby!</h1>
    <app-header></app-header>
    <script src="/assets/app.js"></script>
</body>
</html>
